extends layout
block content

  .row
    .col-md-6.offset-md-3
      h3 #{title}
      br
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/'+uid+'?rel=0', allowfullscreen='')
      br
      p #{description}
      h5 #[i.fa.fa-star] #[strong #{score}] #[small /5]
      .starrr
      div
        span.your-choice-was(style='display: none;')
          | Your rating is&nbsp;
          span.choice
      br
      form#review
        h6 Review (optional)
        .form-group
          input.form-control(name='title', type='text', placeholder='Title')
          br
          textarea#exampleFormControlTextarea1.form-control(name='review', rows='3', placeholder='Review content')
        button#reviewBtn.btn.btn-primary(name='submit', type='submit') Submit
      br
      div
        button#reportBtn.btn.btn-danger(name='submit', type='submit') Report
      br
      h4 Reviews
      .reviews
        each review, index in reviews
          if index != 0
            hr
          h5 #[i.fa.fa-star] #{review.stars} #[small.mr-2 /5] #{review.title}
          p #{review.review}
