extends layout

block content

  .row
    .col-md-6.col-md-offset-3
      h2 #{title}
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/'+uid+'?rel=0', allowfullscreen='')
      br
      p #{description}
      p #[strong #{score}] #[small /5]

      each review, index in reviews
          hr
          h5 #{review.stars} #[small /5] #{review.title}
          p #{review.review}
