extends layout
block content

  .row
    .col-md-6.offset-md-3
      if wanted
        h2 Search for "#{wanted}"
        p (#{length} results)
      else
        h2 Newest
      br
      each clip, index in clips
        if index != 0
          hr
        .row
            .col-md-4
              img.img-fluid(src='https://img.youtube.com/vi/' + clip.uid + '/hqdefault.jpg')
              br
              br
            .col-md-8
              h5
                a(href="/clip/"+clip.id) #{clip.title}
              if clip.score
                h5 #[i.fa.fa-star] #[strong #{clip.score}] #[small /5]
              else
                h5 #[i.fa.fa-star] ?
              p #{clip.descriptionShort}
